
<div class="container">
	<div class="text-center">
		<h1>GET IN TOUCH</h1>
		<p>Feel free to ask us any questions through this page, by email or through social media</p>
	</div>
	<%= render 'form', message: @message %>
</div>

