.grid_one_on_two {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5vw;

  margin: 0 5vw;
}

.grid_two_on_one {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 5vw;

  margin: 0 5vw;
}

.grid_2_equal_col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5vw;

  margin: 25vh 5vw;
}

.in_illustration img {
  object-fit: cover;

  height: 100%;
  width: 100%;
}

.home_intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home_intro h2 {
  font-weight: bold;
}

.home_intro h2 strong {
  font-weight: bold;
  color: $OchreRed;
}

#home_intro_2 {
  align-items: flex-end;

  text-align: end;

  padding-left: 15%;
}

.direction_btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#direction_btns_2 {
  justify-content: flex-end;
}

.in_illustration {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_features {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10vh 5vw;
}

.features_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding-left: 10%;
}

.features_title h3 {
  font-size: 18px;
}

.features_title p {
  font-size: 10px;
  margin-bottom: 0;
}

.features_columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.features_item {
  display: flex;
  align-items: center;

  width: 100%;
  font-size: 12px;
}

.features_picto img {
  object-fit: cover;
  height: 30px;
  width: 30px;
  margin-right: 12px;
}

@media screen and (max-width: 800px) {
  .grid_one_on_two {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: inherit;

    height: 90vh;
  }

  .grid_two_on_one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: inherit;

    height: 90vh;
  }

  .grid_2_equal_col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: inherit;

    height: 90vh;
  }

  #home_intro_2 {
    align-items: flex-start;

    text-align: start;

    padding-left: unset;
    padding-top: 5vh;
  }

  .direction_btns {
    justify-content: flex-end;

    width: 100%;
  }

  .features_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding-left: 10%;
  }

  .features_title h3 {
    font-size: 18px;
  }

  .features_title p {
    font-size: 10px;
    margin-bottom: 0;
  }

  .features_columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .features_item {
    display: flex;
    align-items: center;

    width: 100%;
    font-size: 12px;
  }

  .features_picto img {
    object-fit: cover;
    height: 30px;
    width: 30px;

    margin-right: 12px;
  }
}

@media screen and (max-width: 500px) {
  .home_intro h2 {
    font-size: 1.5rem;
  }

  .home_intro p {
    font-size: 0.8rem;
  }

  .direction_btns {
    justify-content: space-evenly;
  }

  #direction_btns_2 {
    justify-content: space-evenly;
  }
}






