// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Raleway', sans-serif;
  color: $Black;
}

.pages_container {
  position: relative;
  top: 14vh;

  overflow: hidden;
  width: 100vw;
  padding: 8vh 0;
}

.centering {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .pages_container {
    padding: 0;
  }
}
