<div class="banner">
  <div class="container m-5">
      <img class="logo_index" src="">
      <p style="font-family:arial; font-size:125% "><strong>ResQ, a direction 
WordPress plugin</strong></p>
  </div>
</div>


<div class="container m-5">

	<p style="font-family:arial; font-size:125% "><strong>DON’T LOOSE TRAFFIC, DEVELOP YOUR CSR</strong></p>
	

</div>


<div class="container">

	<p style="font-family:arial; font-size:125% "><strong>THIS IS WHAT RESQ ACTUALLY LOOKS LIKE:
</strong></p>
	
	


</div>


<div class="container">
	
	<p style="font-family:arial; font-size:125% "><strong>CHOOSE A PLAN</strong></p>
	<div class="d-flex">
		<button>Download</button>
		<button>Let's go</button>
		<button>Let's go</button>
		<button>Let's go</button>
	</div>

</div>

<div class="text-center">
	<button>Learn More</button>
</div>