.bg-red-500 {
  background-color: $warning;
  width: 100%;

  z-index: 10000;
}

.bg-green-500 {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  background-color: $success;

}

.auto-hide {
  position: absolute;

  display: block;

  z-index: 10000;

  width: 100vw;
  top: 0;
  left: 0;
  height: 60px;
  overflow: show;
  -webkit-animation: disappear 0.3s forwards;
          animation: disappear 0.3s forwards;
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes disappear {
  0% { opacity: 1; }
  10% { opacity: 0.9; }
  20% { opacity: 0.8; }
  30% { opacity: 0.7; }
  40% { opacity: 0.6; }
  50% { opacity: 0.5; }
  60% { opacity: 0.4; }
  70% { opacity: 0.3; }
  80% { opacity: 0.2; }
  90% { opacity: 0.1; }
  100% {
    opacity: 0;
    height: 0;
    top: -30px;
  }
}

@keyframes disappear {
  0% { opacity: 1; }
  10% { opacity: 0.9; }
  20% { opacity: 0.8; }
  30% { opacity: 0.7; }
  40% { opacity: 0.6; }
  50% { opacity: 0.5; }
  60% { opacity: 0.4; }
  70% { opacity: 0.3; }
  80% { opacity: 0.2; }
  90% { opacity: 0.1; }
  100% {
    opacity: 0;
    height: 0;
    top: -30px;
  }
}
