.banner{
  position:relative;

  display: flex;
  align-items:center;
  justify-content:center;

  height: 200px;
  width:60%;

  margin: auto;
  margin-bottom: 100px;
  border-radius:20px;

  background-color: rgba(191, 191, 191, 1);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
