// All CSS linked to Navbar
.navbar_resq {
  position: fixed;
  top: 0px;
  left: 0px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 14vh;
  width: 100vw;
  margin-bottom: 0;

  background-color: $White;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0px 0px 2px $Black;

  z-index: 20000;
}

.navbar-item img {
  height: 3rem;
  width: 3.3rem;
}

.logo img {
  height: 3rem;
  width: 3.3rem;
}

.navbar-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 8vh;
  width: 100vw;
  padding: 0 4vw;
  margin-bottom: 0px;

  letter-spacing: 2px;
}

.navbar-links li {
  list-style: none;
}

.navbar-links a {
  color: $Black;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  padding: 12px;
}

.navbar-item :hover{
  text-decoration: none;
  color: $OchreRed;

  cursor: pointer;
}

.burger {
  display: none;

  cursor: pointer;
}

.home-link {
  display: none;
}

.nav-item-small {
  display: none;
}

.logo {
  display: none;

  cursor: pointer;
}

.logo a {
  color: $Black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;

  .navbar-item :hover{
    text-decoration: none;
    color: $Black;

    cursor: pointer;
  }
}

.burger div {
  height: 2px;
  width: 25px;
  margin: 5px;

  background-color: $Black;
  border-radius: 5px;

  transition: all 0.3s ease;
}

// Dropdown "How does it Work?":

#navbar_dropdown {
  color: $Black;

  &:hover {
    color: $OchreRed;
  }
}

.nav-content {
  position: absolute;
  top: 14vh;
  left: 15vw;

  overflow: hidden;

  max-height: 0;

  background-color: $White;
  box-shadow: 0px 0px 9px $Black45;
  border-radius: 10px;
}

.nav-content a {
  color: $Black;
  text-decoration: none;
}

.nav-sub a:hover {
  background-color: $Hover;
}

.nav-sub {
  padding: 7px 0;
  border-radius: 10px;
}

.nav-sub ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-sub ul li a {
  display: flex;
  align-items: center;

  height: 40px;
  width: 85%;
  padding-left: 20px;
}

.nav-sub li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 200px;

  background-color: $White;
}

.nav-sub  i {
  opacity: 0;
  font-size: 12px;
  color: $LighterBlue;
  padding-right: 10px;
}

.nav-sub li:hover {
  background-color: $Hover;
}

.nav-sub li:hover i {
  opacity: 1;
}

.dropdown-active {
  max-height: 210px;
  -webkit-transition: max-height 0.2s ease-in-out;
  -moz-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}

// Responsive Navbar

@media screen and (max-width: 1045px) {
  body {
    overflow-x: hidden;
  }

  .navbar_resq {
    position: fixed;
    top: 0;
    left: 0;

    justify-content: space-between;

    height: 10vh;
    padding: 0 5vw;
  }

  .navbar-links {
    position: absolute;
    top: 8vh;
    right: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 92vh;
    width: 50vw;

    background-color: $White;

    transform: translateX(100vw);
    transition: transform 0.5s ease-in;
  }

  .navbar-links li {
    opacity: 0;
  }

  .resq-logo {
    display: none;
  }

  .nav-item {
    display: none;
  }

  .nav-item-small {
    display: block;
  }

  .burger {
    display: block;
  }

  .home-link {
    display: block;
  }

  .logo {
    display: block;

    text-transform: uppercase;
    letter-spacing: 2px;
    color: $Black;
  }
}

.nav-active {
  transform: translateX(0vw);
  box-shadow: -2px 19px 12px $Black15;
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-5px);
}





